@model Claim
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div>
        <label>Lecturer Name</label>
        <input asp-for="LecturerName" />
    </div>
    <div>
        <label>Hours Worked</label>
        <input asp-for="HoursWorked" />
    </div>
    <div>
        <label>Hourly Rate</label>
        <input asp-for="HourlyRate" />
    </div>
    <div>
        <label>Upload Documents</label>
        <input type="file" name="documents" multiple />
    </div>
    <button type="submit">Submit Claim</button>
</form>
